*{
  margin: 0px;
  padding: 0px;
}
.link{
  color: antiquewhite !important;
  text-decoration: none;
  list-style: none;
}
.link:active{
color: black !important;
}
.grid{
  cursor: pointer;
  margin: 10px 30px;
  justify-content: center;
}
.product-item{
  justify-content: center;
}
